body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
}

h1 {
  color: #007bff;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 150px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  max-height: 100px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Form */
.container {
  max-width: 600px;
}

.form-label {
  font-weight: bold;
  color: #555;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.col-4 {
  display: flex;
  justify-content: center;
  padding: 10px;
}
